<!--SERVICES PAGE DETAILS-->
<section id="clients" class="scrollto clearfix">
    <div class=" row no-padding-bottom clearfix">

        <div class="col-3 serviceinfo">
            <div class="section-heading text-center">
                <h2 class="text-center">Categories</h2>
                <hr>
                <hr>
                <h4 class="section-title text-center">Types of Makeup we provide and train Students as well.</h4>
                <br><br>
                <ul class="section-title text-center">
                    <li class="servicesinfo">Bridal</li>
                    <li class="servicesinfo">Engagement</li>
                    <li class="servicesinfo">Haldi</li>
                    <li class="servicesinfo">Party</li>
                    <li class="servicesinfo">Mehandi</li>
                    <li class="servicesinfo"><strong>Hairstyle</strong></li>
                </ul>
            </div>

            <h2>For any Queries about training , Contact on given information.</h2>

        </div>

        <div class="col-2-3">

            <a class="col-3">
                <img src="../assets/images/makeup-types/bridal.jpg" alt="Company" />
                <div class="client-overlay"><span>Bridal</span></div>
                <!-- <h4><strong>Rs. 12000</strong></h4> -->
            </a>
            <a class="col-3">
                <img src="../assets/images/makeup-types/engagement.jpg" alt="Company" />
                <div class="client-overlay"><span>Engagement</span></div>
                <!-- <h4><strong>Rs. 12000</strong></h4> -->

            </a>
            <a class="col-3">
                <img src="../assets/images/makeup-types/haldi.jpg" alt="Company" />
                <div class="client-overlay"><span>Haldi</span></div>
                <!-- <h4><strong>Rs. 12000</strong></h4> -->

            </a>
            <a class="col-3">
                <img src="../assets/images/makeup-types/mehandi.jpg" alt="Company" />
                <div class="client-overlay"><span>Mehandi</span></div>
                <!-- <h4><strong>Rs. 12000</strong></h4> -->

            </a>
            <a class="col-3">
                <img src="../assets/images/makeup-types/party.jpg" alt="Company" />
                <div class="client-overlay"><span>Party</span></div>
                <!-- <h4><strong>Rs. 12000</strong></h4> -->

            </a>
            <a class="col-3">
                <img src="../assets/images/makeup-types/hairstyle.jpg" alt="Company" />
                <div class="client-overlay"><span>Hairstyle</span></div>
                <!-- <h4><strong>Rs. 12000</strong></h4> -->

            </a>
            <!-- <a  class="col-3">
                <img src="../assets/images/company-images/company-logo7.png" alt="Company" />
                <div class="client-overlay"><span>Ball</span></div>
            </a>
            <a  class="col-3">
                <img src="../assets/images/company-images/company-logo8.png" alt="Company" />
                <div class="client-overlay"><span>Cold</span></div>
            </a>

            <a  class="col-3">
                <img src="../assets/images/company-images/company-logo9.png" alt="Company" />
                <div class="client-overlay"><span>Cold</span></div>
            </a> -->

        </div>

    </div>
</section>
<!--End of Clients-->