<p class="text-center">
    ______________________________________________________________________________________________________________________________________________________________
</p>
<br><br><br>
<h4 class="text-center"> <strong>For Queries , Please Call/Whatsapp</strong></h4>
<h2 class="text-center"><strong>+91 6200611393</strong></h2>
<br><br>

<div class=" col-3 text-center">
    <div class="footer-logo">
        <a href="https://www.facebook.com/profile.php?id=61563054394083&mibextid=LQQJ4d"><img
                src="../../../assets/images/Nitu_qr/nitufbqr.jpg" width="150" alt="logo"></a>
    </div>
    <h2> Facebook
    </h2>
</div>

<div class=" col-3 text-center">
    <div class="footer-logo">
        <a href="http://www.instagram.com/makeupby_nitu"><img src="../../../assets/images/Nitu_qr/insta_logo.jpg"
                width="200" alt="logo"></a>
    </div> <br><br><br>
    <a target="_blank" title="Location" href="https://maps.app.goo.gl/FYSBCnrwj9G1ZxAF8">
        <i class="fa fa-map-marker fa-1x">&nbsp;&nbsp;</i>
        <h5>Location</h5>
    </a>
</div>

<div class="col-3 text-center">
    <div class="footer-logo">
        <a href="http://www.instagram.com/makeupby_nitu"><img src="../../../assets/images/Nitu_qr/nituinstaqr.jpg"
                width="150" alt="logo"></a>

    </div>

    <h2> Instagram
    </h2>

</div>

<!-- <div class="col-3 text-center">
    <div class="footer-logo">
        <a href="https://www.youtube.com/@NituMakeover1"><img src="../../../assets/images/insta_QR.jpg" width="200"
                alt="logo"></a>

    </div>
</div> -->
<div class="col-1">
    <h5 class="text-center"> © COPYRIGHT 2024-Date <strong>nitumakeover.com</strong></h5>
    <div class="col-1">
        <h5 class="text-center">"All brand names, logos, and trademarks mentioned herein are the property of their
            respective <br>
            owners. The inclusion of any company or their logos does not imply endorsement or direct affiliation with
            <strong>'Makeup by
                KUMARI NITU RANI.'</strong> "
        </h5>
    </div>
</div>
<br><br><br><br><br><br><br><br><br>
<footer id="landing-footer" class="clearfix">
    <div class="row clearfix">

        <p id="copyright" class="col-2"> <a href="https://www.shapingrain.com"></a></p>

        <!--Social Icons in Footer-->
        <ul class="col-2 social-icons">
            <li>
                <a target="_blank" title="Facebook"
                    href="https://www.facebook.com/profile.php?id=61563054394083&mibextid=LQQJ4d">
                    <i class="fa fa-facebook fa-1x"></i><span>Facebook</span>
                </a>
            </li>

            <li>
                <a target="_blank" title="Instagram" href="http://www.instagram.com/makeupby_nitu">
                    <i class="fa fa-instagram fa-1x"></i><span>Instagram</span>
                </a>
            </li>
            <li>
                <a target="_blank" title="youtube" href="https://www.youtube.com/@NituMakeover1">
                    <i class="fa fa-youtube fa-1x"></i><span>Youtube</span>
                </a>
            </li>
            <li>
                <a target="_blank" title="Location" href="https://maps.app.goo.gl/FYSBCnrwj9G1ZxAF8">
                    <i class="fa fa-map-marker fa-1x"></i><span>Location</span>
                </a>
            </li>
        </ul>
    </div>
</footer>