 <!--Introduction-->
 <section id="about" class="introduction scrollto">

    <div class="row clearfix">

        <div class="col-3">
            <div class="section-heading">
                <!-- <h3>SUCCESS</h3> -->
                <h1 class="section-title">Makeup Artist . Educator . Enterpreneur</h1>
                <h3 class="section-title">Lovingly called the "NITU- The Artist" </h3>
                <p class="section-subtitle">Known affectionately as the "Queen of Makeup" within the industry and by her devoted fans, Nitu has forged a remarkable journey from her origins as a lawyer to becoming one of Jharkhand's most prominent makeup artists. Today, her influence spans across social media platforms with approximately 2000 followers and continues to grow exponentially on Instagram, Facebook, and YouTube.
                    Long before receiving her parents' approval,<strong> Kumari Nitu Rani</strong> was already experimenting with the boldest lip colors and trendiest nail paints.
                     where she would skillfully transform friends and relatives. This early passion for enhancing natural beauty paved the way for her transition into professional makeup artistry.</p>
            </div>

        </div>
        <div class="col-3">
            <div class="main_image">
                <div id="banner_about" class="row1">
                </div>
            </div>
        </div>
        <div class="col-3 text">
            <h2 class="section-title"> Benefits and Features</h2>
            <p class="section-subtitle" style="color: brown;"><strong> Training and Education</strong></p>
            <p class="section-subtitle"  style="color: rgb(27, 5, 5);"><strong> Passion for Beauty</strong></p>
            <p class="section-subtitle"  style="color: rgb(64, 81, 39);"><strong> Professional Experience</strong></p>
            <p class="section-subtitle"  style="color: rgb(52, 30, 0);"><strong> Client-Centered Approach</strong></p>
            <p class="section-subtitle"  style="color: rgba(54, 34, 2, 0.467);"><strong> Quality Products and Techniques</strong></p>
            <p class="section-subtitle"  style="color: rgb(10, 58, 136);"><strong> Portfolio Highlights</strong></p>
            <p class="section-subtitle"  style="color: rgb(17, 128, 85);"><strong> Client Testimonials</strong> </p>
            <p class="section-subtitle"  style="color: rgb(162, 16, 131);"><strong> Philosophy and Values </strong> </p>
            <p class="section-subtitle"  style="color: brown;"><strong> Future Goals </strong> </p>
            <p class="section-subtitle"  style="color: rgb(53, 75, 1);"><strong> Artistic Vision  </strong></p>

        </div>
    </div>
 </section>



        