<!-- ACADEMY PAGE DETAILS -->
<div id="services" class="scrollto clearfix">
    <div class="row no-padding-bottom clearfix">


        <div class="col-1"><br><br><br>
            <h3 class="section-heading text-center">NITU MAKEOVER - MAKEUP & ACADEMY</h3>
            <h4 class="section-subtitle text-center"> "Empower yourself with the skills to excel at <strong>Nitu
                    Makeover-Makeup and Academy</strong> and leave your mark!"</h4>
        </div>
        <div class="col-1">
            <aside id="gallery" class="row text-center scrollto clearfix" data-featherlight-gallery
                data-featherlight-filter="a">

                <a href="../assets/images/user-images/student_work1.png" data-featherlight="image"
                    class="col-3 wow fadeIn" data-wow-delay="0.1s"><img
                        src="../assets/images/user-images/student_work1.png" alt="Landing Page" /></a>
                <a href="../assets/images/user-images/student_work2.png" data-featherlight="image"
                    class="col-3 wow fadeIn" data-wow-delay="0.3s"><img
                        src="../assets/images/user-images/student_work2.png" alt="Landing Page" /></a>
                <a href="../assets/images/user-images/student_work3.png" data-featherlight="image"
                    class="col-3 wow fadeIn" data-wow-delay="0.3s"><img
                        src="../assets/images/user-images/student_work3.png" alt="Landing Page" /></a>
                <a href="../assets/images/user-images/student_work4.png" data-featherlight="image"
                    class="col-3 wow fadeIn" data-wow-delay="0.3s"><img
                        src="../assets/images/user-images/student_work4.png" alt="Landing Page" /></a>
                <a href="../assets/images/user-images/student_work8.jpg" data-featherlight="image"
                    class="col-3 wow fadeIn" data-wow-delay="0.3s"><img
                        src="../assets/images/user-images/student_work8.jpg" alt="Landing Page" /></a>
                <a href="../assets/images/user-images/student_work6.jpg" data-featherlight="image"
                    class="col-3 wow fadeIn" data-wow-delay="0.3s"><img
                        src="../assets/images/user-images/student_work6.jpg" alt="Landing Page" /></a>
            </aside>

        </div>
        &nbsp;&nbsp;
        <h2><strong>why Choose Us?</strong></h2>
        <p class="section-subtitle">When selecting an academy, your initial inquiry should be: Who will be teaching me,
            and how extensive is their practical experience with real clients or brides?</p>
        <h5>Many academies and artists have primarily teaching backgrounds and limited hands-on experience with actual
            brides. While studying under them may provide valuable theoretical knowledge, it may not adequately prepare
            you for the challenges of real-world clients—such asstron <strong> diverse skin types, textures, face and
                eye shapes, varying degrees of darkness, pigmentation issues, and the specific demands of real-world
                scenarios</strong>.</h5>
        <h4>At our academy, we prioritize teaching <strong>Makeup techniques</strong> that not only excel in photographs
            but also thrive in real-world settings, enduring throughout weddings and events in front of diverse
            audiences. This is where our approach sets us apart.</h4>
        <h5>With her extensive experience handling thousands of brides, <strong>Kumari Nitu Rani</strong> distills the
            essence
            of her real-world expertise into our curriculum.</h5>
        <ul class="features">
            <li>Personalized makeup demonstrations by Kumari Nitu Rani herself.
            </li>
            <li>Learn exclusive Kumari Nitu Rani techniques firsthand.
            </li>
            <li>Daily hands-on practice sessions.
            </li>
            <li>All necessary makeup products provided for practical training.
            </li>
            <li>Courses designed to emphasize real-world application over theoretical learning from textbooks.
            </li>
        </ul>

        <br><br><br>

        <h2>Courses offered are :-</h2>
        <h3>Professional Makeup & Hair Course By Nitu</h3>

        <h5><strong>Course Duration : 45 Classes (Appx.)</strong></h5>
        <h4><strong>Timings : 11 AM to 5 PM everyday (On certain days classes may begin early & end late as
                well)</strong>
        </h4>
        <!-- <h2><strong>Fees : INR 35,000.</strong></h2> -->

        <h4>This course is designed to provide students with the necessary skills
            to become professional makeup artists and hairstylists. The course covers a wide
            range of topics, including:</h4>
        <div class="col-2">
            <ul class="features">
                <li>Skin preparation and priming
                </li>
                <li>Colour correction
                </li>
                <li>Concealing skin flaws like spots, pigmentation, dark circles etc
                </li>
                <li>Base/Foundation types and application
                </li>
                <li>Contouring and Highlighting - Cream and Powder
                </li>
                <li>Perfecting the base on all skin colours - light, medium and deep skin tones.
                </li>

                <li>Contouring & Highlighting</li>
                <li> Basic Eye Makeup</li>
                <li>Advanced Eye Makeup</li>
                <li>
                    Basic Hair
                </li>
                <li>
                    Advanced Hair Styling
                </li>
                <li>
                    Updo Hairstyling
                </li>
                <li>
                    Wedding Hairstyling
                </li>
            </ul>
        </div>
        <div class="col-2">
            <ul class="features">
                <li>Bridal Makeup</li>
                <li>Party Makeup</li>
                <li>Photo Shoot Makeup</li>
                <li>Modeling Makeup</li>

                <li>Draping</li>
                <li>Saree Draping</li>
                <li>Lehenga Draping</li>
                <li>Detailed Product information and sourcing</li>
                <li>Ongoing counselling for client interaction, career opportunities</li>
                <li> Professional Photo shoot at the end of the course (Model, outfit, jewellery to be arranged by the
                    student)</li>
                <li>Certification</li>

            </ul>
        </div>
        <div class="col-1">
            <br><br>
            <h4 class="content-subtitle"><strong> NOTE:-&nbsp;"We will supply all necessary practice materials
                    throughout the course.However,please remember that you will need to bring your own brush set,
                    beauty blender, and personal hygiene
                    items such as makeup removing wipes, face towel, and ear buds, which you can purchase either from
                    the academy or elsewhere."</strong></h4>
            <br><br>
            <h3>Please WhatsApp 62006113993 to Enroll</h3>

            <h5>"The professional makeup course features demonstrations personally conducted by <strong> NITU
                    RANI</strong>. All
                necessary practice materials will be provided during the course. However, students are encouraged to
                have their own kit for practice outside of class hours.</h5>
            <br>
            <h4> The course includes a final assessment required for receiving the certificate of completion.
                Exceptional students may be offered internships with <strong> Kumari Nitu Rani</strong> to gain
                additional
                hands-on experience,
                based on course performance and our criteria.</h4>
            <br>
            <h4>This course is suitable for freshers as well as practising Makeup Artists.
            </h4>
            <h4><strong> Recording, reselling, or redistributing classes, as well as written materials, is strictly
                    prohibited.</strong>
            </h4>
            <br>
            <h4><strong> Please note:</strong> Some sessions will be held on Saturdays and Sundays, with occasional
                early start times.
                The exact class schedule for the entire four-week duration will be provided on the first day of the
                batch. Participants are advised to keep their schedule clear from the course commencement date."</h4>
            <br><br><br>
            <h4><strong>"Key Terms and Conditions applicable to all courses offered at the academy"</strong></h4>
            <h4><strong>1.</strong> The course fee is non-refundable and cannot be adjusted against any other services,
                either partially
                or fully.</h4>

            <h4> <strong>2.</strong> The remaining balance must be paid at least 48 hours before the course start date.
            </h4>

            <h4> <strong>3.</strong> Students are required to bring their own brush set and beauty blender or purchase
                them from the
                academy. A list of recommended brushes will be provided a few days before the course begins.</h4>

            <h4> <strong>4.</strong> Students should also bring other personal hygiene items such as wet wipes, makeup
                remover, hair
                section clips, and a comb. A detailed list will be provided prior to the session start.</h4>

            <h4> <strong>5</strong> All makeup products for practice during classes will be supplied by the academy.
            </h4>

            <h4> <strong>6.</strong> Recording, reselling, or distributing classes, as well as any written materials, is
                strictly
                prohibited. Legal action will be pursued against anyone found engaging in or supporting these
                activities.</h4>

            <h4> By enrolling in any of the courses mentioned above, you acknowledge that you have read and agree to the
                terms and conditions outlined.</h4>
            <!-- <h4 class="text-center"><strong>For any queries, please contact us at:+91 6200611393</strong></h4><br> -->

        </div>
    </div>
</div>